:root {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    text-align: center;
}

.grid {
    display: grid;
    max-width: 500px;
    min-height: 500px;
    /*grid-template-rows: repeat(var(--grid-size-x), 1fr);
    grid-template-columns: repeat(var(--grid-size-y), 1fr);*/
    /* Margin is used to center the grid horizontally. First value is for top and bottom, second for left and rigt*/
    margin: 2rem auto;
}

.grid-element{
    border: 1px solid #ddd;
}

.colour-change {
    border: 1px solid #ddd;
    background-color: black;
}

#reset {
    padding: 1rem;
    margin: 1rem;
    
}

#reset {
    background-color: lightblue;
}

